fetch01.ejs

<script>
    function test(){
        //location.href = "/non_fetch";
        fetch("fetch01");
    }
</script>
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1> 
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1>
 <button onclick="test()">클릭</button>
 <label><%= cnt %></label>



  

 <br><br><br><br>
 데이터만 주고받는 방식
 이전보다 처리속도 빠름
페이지가 새롭게 로드된는거 아님 데이터만~!!
