안녕?
<script>
    function test(){
        location.href = "/non_fetch";
    }
</script>
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1> 
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1>
 <button onclick="test()">클릭</button>
 

 <br><br><br><br>
 클릭하면 테스트함수 호출
 서버로 /non_fetch 이 경로로 요청
 화면에 보여줌
 클릭 -> 서버연산 -> ejs 번역에서 화면에 보여줌
 클락 -> 새롭게 페이지를 받아보는것 -> 처음으로 올라간다.(페이지를 새롭게 보내줌)

 ex) 좋아요버튼 -> 페이지가 처음으로 올라가면 안됨

 패치 : 데이터만 주고받는 방식
 처리속도 빠름
 